#overview-1{
    color:black;
    margin-bottom: 1px;
}

#overview-2{
    color: darkgrey;
    font-size: 25px;
    margin-top: 1px;
}

#first_paragraph{
    margin-top: 20px;
}

#species-link{

}

.monitoring-link{

}

a{
    text-decoration: none;
}

body{
    flex: left;
}

header {
    background: olive;
    padding: 10px;
    width: auto;
    text-align: center;
    margin: -20px;
}

image {
    max-width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

nav {
    border-top: 2px;
    border-color: black;
}




